div {
    height: 150px;
    width: 150px;
    background-color: rosybrown;
    border-radius: 20px;
    border: 20px groove royalblue;
    background-image: url(../../000_img/image.png);
    background-size: cover;
    background-repeat: no-repeat;
}