* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 1vw;
}

#atf {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
}

.card {
    max-width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}