body {
    font-family: Cantarell, sans-serif;
    color: whitesmoke;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 2.8rem;
    background-color: rgba(30, 30, 30, .7);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > div, header > nav {
    width: 300px;
    height: 35px;
    margin: 0 1rem;
    display: flex;
    align-items: center;
}

header > div {
    justify-content: space-evenly;
    padding-left: 10px;
    padding-right: 10px;
}

header h1 {
    font-size: 1rem;
}

nav > ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.idx-hdr-svg {
    fill: white;
    width: 30px;
    height: 30px;
}

.idx-hdr-svg:hover {
    fill: rgb(100, 161, 158)
}

#idx-atf {
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(59, 59, 66);
    background-image: url(../img/background-photo-mobile-devices.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#idx-atf > div {
    height: 50vh;
}

.idx-center-spacebetween {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.idx-center-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* 
My code
.title {
    color: rgb(239, 236, 236);
    font-size: 40px;
    text-align: center;
    margin: 2.5rem;
}

.subtitle {
    color: rgb(239, 236, 236);
    font-size: 18px;
    font-weight: 700;
    margin: 0.5rem;
}

.tagline {
    color: rgb(239, 236, 236);
    font-size: 18px;
    margin-bottom: 0.5rem;
}
*/

.title {
    font-size: 3rem;
    text-align: center;
}

.subtitle {
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0.7rem;
}

.tagline {
    font-size: 1.4rem;
    text-align: center;
    line-height: 1.1;
}

button {
    font-size: 1.4rem;
    font-weight: bold;
    color: rgb(202, 250, 234);
    padding: 10px 15px;
    border: 2px solid rgb(202, 250, 234);
    border-radius: 10px;
}

button:hover {
    background-color: whitesmoke;
    color: #111;
}